# IDE caching
.idea/*
.vscode/*

# Pychaching
__pycache__

# mmseq temp directory
data/tmp/*

# deep sequence data
data/deep_sequence/*

data/eve/*

#Mlflow output
mlruns/
bak_mlruns/

# any Jupyter notebooks
*.ipynb

# local caching
.DS_Store
data/.DS_Store

